.buttons {
  margin-top: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.scroll-picker {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;
}

.wheel-wrapper {
  position: relative;
  width: 80px;
  height: 186px;
}

.column {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  position: relative;
  z-index: 2;
}

.column::-webkit-scrollbar {
  display: none;
}

.spacer {
  height: 75px;
}

.separator {
  font-size: 24px;
  color: white;
}

.item {
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 16px;
  color: #9b9b9b;
  scroll-snap-align: center;
  transition: all 0.2s;
}

.item.selected {
  height: 36px;
  line-height: 36px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.highlight-box {
  position: absolute;
  top: 75px;
  height: 36px;
  left: 0;
  right: 0;
  background-color: #282828;
  border-radius: 10px;
  pointer-events: none;
  z-index: 1;
}
