.button {
  display: flex;
  gap: 5px;
  padding: 10px 0;
  background-color: var(--button-color, #40bfc9);
  text-decoration: none;
  border-radius: 15px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 100%;
  border: none;

  &:active,
  &:focus {
    background-color: var(--active-color, #22a1ab);
  }

  &__icon {
    padding-left: 7px;
  }

  &__label {
    font-size: 16px;
    padding-right: 7px;
  }
}
