.description {
  background-color: #282828;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 400;
  transition: border 0.3s ease, box-shadow 0.3s ease;

  &__active {
    border-color: white;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
}

:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
